.card td {
  flex: 1;
  padding: 1rem 0;
  text-align: right;
}

.card td:first-child {
  flex: 3;
  display: flex;
}

.card img {
  width: 120px;
  height: 100px;
  background-color: #f7f8fa;
}

.card__content {
  margin-right: 1rem;
}

.card__content h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.card__content span {
  color: #56b280;
  text-decoration: underline;
  cursor: pointer;
}

.card__actions {
  font-size: 1.25rem;
  font-weight: 700;
}

.card__actions span {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: #56b280;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card td:first-child {
    flex: 2;
  }

  .card img {
    width: 100px;
    height: 80px;
  }

  .card__content h3 {
    font-size: 1.05rem;
  }

  .card__content span {
    font-size: 0.875rem;
  }

  .card td {
    font-size: 0.875rem;
  }

  .card__actions span {
    margin: 0 0.25rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .card img {
    width: 80px;
    height: 60px;
  }

  .card__content h3 {
    font-size: 0.925rem;
  }

  .card__content span {
    font-size: 0.755rem;
  }

  .card td {
    font-size: 0.775rem;
  }

  .card__actions span {
    margin: 0 0.15rem;
    font-size: 1.05rem;
  }
}
