.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;
  width: 90vw;
  max-width: 1200px;
  margin: 4rem auto 0;
}

@media (max-width: 968px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .products-list {
    grid-template-columns: repeat(2, minmax(200px, 280px));
  }
}

@media (max-width: 480px) {
  .products-list {
    grid-template-columns: minmax(200px, 300px);
  }
}
