.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 90vw;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #f7f8fa;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  margin-left: 1rem;
}

.navbar__logo span {
  font-size: 1.25rem;
  font-weight: 700;
}

.navbar__cart-icon {
  cursor: pointer;
}

.navbar__cart-icon:active {
  transform: scale(1.05);
}
