.navbar {
  width: 100%;
  background-color: rgba(247, 248, 250, 0.9);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem 0;
}

.navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar__logo img {
  margin-left: 1rem;
}

.navbar__logo span {
  font-size: 1.25rem;
  font-weight: 700;
}

.navbar__cart-icon {
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.navbar__cart-icon:active {
  transform: scale(1.05);
}

.navbar__quantity {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #56b280;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #272727;
}
