.benefits {
  width: 100%;
  background-color: #f7f8fa;
}

.benefits__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  min-height: 30rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
}

.benefits__content {
  flex: 1;
  min-width: 400px;
}

.benefits__content h2,
.benefits__content p {
  text-align: right;
}

.benefits__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 400px;
}

.benefits__image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .benefits__image {
    display: none;
  }
}
